/* CSS GOOGLE FONT FAMILIES

font-family: 'Baloo Thambi 2', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Spartan', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Special Elite', cursive;
*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: lightgrey;
}

h2 {
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
  color: lightgrey;
  font-weight: 30;
}

p {
  font-family: 'Spartan', sans-serif;
  color: lightgray;
}

html { 
  background: url(img/blue.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* TEXT BOXES */

.menu {
  position: relative;
  padding: 20px;
}

.text_box {
  position: relative;
}

.text_box .content_section {
  /*background-color: #ffffff;*/
  position: relative;
  padding: 20px 0;
}

.text_box .content_section .content_box {
  position: relative;
  left: 0;
  right: 0;
  margin-right: 0;
  z-index: 999;
  top: 0;
  width: 400px;
  bottom: 0;
  padding: 15px;
  min-height: 300px;
  /*background-color: #ffffff;*/
}

.text_box .content_section .content_box .content_box_inner {
  padding: /*25px 20px 25px 15px*/50px;
  }

.whitebg {
  position: relative;
  background-color: white;
  width: 90%;
  padding: 15px;
}

.insert {
  position: relative;
  min-height: 150px;
}

  /* SOCIALS */

.socials 

.avi {
  position: relative;
  min-height: 500px;
}

.creator {
  position: relative;
  border: 50px;
  width: 40%;
  margin: 0 auto;
}

.biolite {
  position: relative;
  padding: 50px;
}

.signature {
  font-family: 'Spartan', sans-serif;
  padding: 5px;
  font-size: 12px;
  color: white;
  width: 40%;
  margin: 0 auto;
}

.menutxt {
  color: white;
  font-family: 'Spartan', sans-serif;
}

a {
  color: white;
  font-family: 'Spartan', sans-serif;
  text-decoration: none;
}

a:hover {
  transition: ease-in-out .2s;
  color: #a5cfaf;
}

img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
  